/* 设置导航栏元素默认字号 */
#nav #site-name,
#nav .menus_item,
#nav #search-button {
    font-size: 20px !important;
    /* 强制覆盖其他样式 */
}

/*-------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------*/
#nav .menus_item:hover {
    background: rgba(255, 255, 255, 0.1);
    /* 半透明背景 */
    border-radius: 4px;
    /* 圆角效果 */
    padding: 5px 10px;
    /* 增加点击区域 */
}

/*-------------------------------------------------------------------------------------------------------------------------*/
#nav .menus_item {
    position: relative;
}

#nav .menus_item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    background: blue;
    transition: width 0.3s;
    /* 下划线生长动画 */
}

#nav .menus_item:hover::after {
    width: 100%;
    /* 悬停时显示完整下划线 */
}


/* 去除导航栏选项中底下的蓝条 */
/* #nav *::after {
    background-color: transparent !important;
} */

/* 导航栏菜单鼠标移入字体放大 */

/* #nav #site-name:hover,
#nav .menus_item:hover,
#nav #search-button:hover {
    font-size: 18px;
} */

/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/